.form {
  height: 181px;
}

.button_container {
  text-align: right;
  padding: 15px;
}

.button_container button {
  margin: 0 10px;
  border: 2px solid black;
  padding: 5px 10px;
  cursor: pointer;
  background-color: white;
}
