.modal_container {
  position: absolute;
  outline: none;
  width: 400px;
  background-color: rgba(255, 255, 255, 0.952);
  border: 3px solid black;
  margin: 10% 38.5%;
  padding: 20px;
}

.query_container {
  display: flex;
  justify-content: space-between;
  margin: 10px 30px;
}

.query_container select {
  width: 50%;
}

.btn_container {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin-top: 50px;
}

.btn_container button {
  margin: 0 10px;
  border: 2px solid black;
  padding: 5px 10px;
  cursor: pointer;
  background-color: white;
}
